a {
    text-decoration: none;
    
}

.home, body {
    margin: 0;
    font-family: "Passions+Conflict", sans-serif;
} 

.btn-navigation {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 20;
    cursor: pointer;
}

.btn-navigation .barre {
    width: 30px;
    height: 3px;
    background-color: white;
    margin-top: 3px;
}

.navheader {
   position: fixed;
   right: 0; 
   padding: 0 30px;
   background: lightblue;
   width: 20%;
   height: 100%;
   
   transform: translateX(100%);
   --webkit-transform: translateX(100%);
}

.navheader ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    --webkit-transform: translateY(-50%);
}

.navheader ul li {
margin: 10px 0;
list-style-type: none;
}

.navheader ul li a {
color: white;
text-transform: uppercase;
font-size: 20px;
letter-spacing: 0.5em;
font-weight: 800;
}
