body {
    font-family: "Poppins", "Arial", "sans-serif";
}

/* Fonts */

/* Variables */
:root {
    --font-size: 1rem;
}
.light-mode {
    --navbar-color: black;
    --navbar-bg--color: grey;
}
.dark-mode {
    --navbar-color: white;
    --navbar-bg--color: black;
}

/* Reset */
*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

/* Basic style */

body {
font-size: var(--font-size)
}
.main-content {
    padding: 1rem;
}

/* Navbar */

/* small devices */
    /* toggle menu */

    /* bonus - animation */

/* medium devices */